$white: #F2F2F2;
$beige: #E3B573;

@import "../../../../styles/mixins";
@include main_text;

.employee_card {
    &__wrapper {
        display: flex;
        flex-direction: column;
        margin: 0 0 30px 0;
        padding: 15px 15px 28px 15px;
        border: 2px solid $beige;
    }

    &__wrapper > p {
        color: $white;
        text-align: start;
    }

    &__name {
        font-family: "Bona Nova";
        font-size: 24px;
        font-weight: 700;
        margin: 15px 0 5px 0;
    }
}

@media (min-width: 624px) and (max-width: 769px) {
    .employee_card {
        &__wrapper {
            max-width: 60%;
            margin: 0 0 40px 0;
            padding: 10px 12px 20px 12px;
        }
    
        &__name {
            font-size: 20px;
            margin: 12px 0 4px 0;
        }
    }
}