$light_gray: #BFBFBF;
$beige: #E3B573;
$dark_gray: #181818;

.main_button {
    border-radius: 40px;
    background: $beige;
    color: $dark_gray;
    font-family: 'Bona Nova';
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.8px;
    border: none;
    cursor: pointer;
}

@media (min-width: 624px) and (max-width: 769px) {
    .main_button {
        font-size: 16px;
    }
}