$light_gray: #BFBFBF;
$beige: #E3B573;

@import "../../../../styles/mixins";
@include main_text;
@include card_title;

.goals_card {
    &__wrapper {
        max-width: 27%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__numberbox {
        border: 2px solid $light_gray;
        width: 122px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 21px 0 22px 0;
        margin-bottom: 32px;
    }

    &__number {
        color: $light_gray;
        font-family: 'Forum';
        font-size: 72px;
        font-weight: 300;
    }

    &__wrapper > h4::after {
        content: "";
        display: block;
        width: 170px;
        height: 2px;
        background-image: url('../../../../assets/images/hero_title_bottom.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 10px 0 8px 0;
    }
}

@media (min-width: 624px) and (max-width: 769px) {
    .goals_card {
        &__wrapper {
            max-width: 100%;
            justify-content: space-between;
        }
    
        &__numberbox {
            width: 80px;
            padding: 21px 0 22px 0;
            margin-bottom: 24px;
        }
    
        &__number {
            font-size: 38px;
        }
    
        &__wrapper > h4::after {
            width: 140px;
            margin: 8px 0 6px 0;
        }

        &__wrapper > p {
           margin-bottom: 40px;
           max-width: 70%;
        }
    }
  }