$light_gray: #BFBFBF;
$beige: #E3B573;

@mixin main_text {
    .main_text {
        color: $light_gray;
        text-align: center;
        font-family: 'Bona Nova';
        font-size: 16px;
        font-weight: 400;
    }

    @media (min-width: 624px) and (max-width: 769px) {
        .main_text {
            font-size: 14px;
        }
    }
}

@mixin section_title {
    .section_title {
        color: $beige;
        text-align: center;
        font-family: 'Forum';
        font-size: 60px;
        font-weight: 300;
        margin-bottom: 40px;
    }

    @media (min-width: 624px) and (max-width: 769px) {
        .section_title {
            font-size: 40px;
            margin-bottom: 20px;
        }
    }
}

@mixin card_title {
    .card_title {
        color: $beige;
        text-align: center;
        font-family: 'Forum';
        font-size: 24px;
        font-weight: 300;
    }

    @media (min-width: 624px) and (max-width: 769px) {
        .card_title {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
}

@mixin subtitle {
    .subtitle {
        color: $light_gray;
        text-align: center;
        font-family: 'Forum';
        font-size: 36px;
        font-weight: 400;
    }

    @media (min-width: 624px) and (max-width: 769px) {
        .subtitle {
            font-size: 28px;
        }
    }
}

@mixin form_input {
    .form_input {
        height: 33px;
        border: none;
        border-bottom: 2px solid #E3B573;
        background: transparent;
        color: #BFBFBF;
        font-family: 'Bona Nova';
        font-size: 16px;
        font-weight: 400;
    }
}

@mixin form_submit {
    .form_submit {
        border-radius: 40px;
        background: #E3B573;
        color: #181818;
        font-family: 'Bona Nova';
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1.8px;
        padding: 12px 110px;
        border: none;
        cursor: pointer;
    }
}