$light_gray: #BFBFBF;
$beige: #E3B573;

@import "../../../../styles/mixins";
@include subtitle;

.products {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        margin-top: 24px;
        justify-content: space-between;
    }

    &__cards > div:not(:nth-child(even)) {
        margin-bottom: 40px ;
    }
}

@media (min-width: 624px) and (max-width: 769px) {
    .products {
        &__wrapper {
            margin-bottom: 40px;
        }
    
        &__cards {
            margin-top: 20px;
        }
    
        &__cards > div:not(:nth-child(even)) {
            margin-bottom: 40px ;
        }
    }
}

@media (min-width: 480px) and (max-width: 624px) {
    .products {
        &__wrapper {
            margin-bottom: 20px;
        }
    
        &__cards {
            margin-top: 12px;
        }
    
        &__cards > div:not(:nth-child(even)) {
            margin-bottom: 40px ;
        }
    }
}