$light_gray: #BFBFBF;
$beige: #E3B573;

@import "../../styles/mixins";
@include section_title;

.contacts {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }

    &__slaider {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__slaider_main {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 93.508%;
        margin-bottom: 25px;
    }

    &__mainbox {
        width: 1320px;
        height: 509px;
        overflow: hidden;
        margin: 0 19px;
    }

    &__line {
        width: 3684px;
        height: 509px;
        display: flex;
        position: relative;
        left: 0;
        transition: all ease 1s;
    }

    &__line>div:nth-child(3n+2) {
        margin: 0 23px;
    }

    &__buttons {
        cursor: pointer;
    }

    &__slaider_nav {
        display: flex;
    }

    &__slaider_nav_btn {
        padding: 6px;
        border: 1px $beige solid;
        margin: 0 6px;
    }

    &__icon {
        width: 29px; 
        height: 42px;
        fill: none;
        stroke-width: 4;
        stroke: $beige;
        stroke-linecap: round;
        transition: all .3s linear;
    }
}

// .services__icon:hover {
//     stroke: $orange;
// }

// .services__icon:active {
//     stroke: $yellow;
// }

// .services__icon:disabled {
//     stroke: $gray;
// }

@media (min-width: 624px) and (max-width: 769px) {
    .contacts {
        &__wrapper {
            margin-bottom: 80px;
        }

        &__slaider_main {
            max-width: 91%;
            margin-bottom: 20px;
        }

        &__mainbox {
            width: 384px;
            height: 380px;
            margin: 0 11px;
        }

        &__line {
            width: 3684px;
            height: 380px;
        }

        &__line>div:nth-child(3n+2) {
            margin: 0;
        }

        &__slaider_nav_btn {
            padding: 4px;
            margin: 0 4px;
        }

        &__icon {
            max-height: 36px;
        }
    }
}