$light_gray: #BFBFBF;
$beige: #E3B573;

@import "../../../../styles/mixins";
@include subtitle;
@include form_input;
@include form_submit;
@include main_text;

.feedback{
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 18px;
    }

    &__form > input[type="text"],
    &__form > input[type="tel"],
    &__form > input[type="email"] {
        width: 466px;
        margin-bottom: 27px;
    }

    &__form > textarea {
        width: 466px;
        resize: none;
    }

    &__form > p {
        font-size: 14px;
        margin: 6px 0 24px 0;
    }

    &__form > input[type="submit"] {
        transition: all .3s linear;
    }

    // &__form > input[type="submit"]:hover {
    //     color: $orange;
    // }
    
    // &__form > input[type="submit"]:disabled {
    //     background: $gray;
    //     color: $light_gray;
    //     cursor: default;
    // }
    
    // &__form > input[type="submit"]:enabled:active {
    //     color: $lemon_yellow;
    // }
}