$light_gray: #BFBFBF;
$beige: #E3B573;

@import "../../styles/mixins";
@include section_title;

.map {
    &__wrapper {
        display: flex;
        flex-direction: column;
        margin: 0 0 100px 0;
    }

    &__mapbox {
        border: 2px solid $beige;
        width: 1360px;
        height: 710px;
        padding: 18px;
    }

    &__map {
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 624px) and (max-width: 769px) {
    .map {
        &__wrapper {
            margin: 0 0 80px 0;
        }
    
        &__mapbox {
            width: 520px;
            height: 520px;
            padding: 10px;
        }
    }
}