$light_gray: #BFBFBF;
$beige: #E3B573;

@import "../../styles/mixins";
@include section_title;

.offers {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
        padding: 0 40px;
    }
}

@media (min-width: 624px) and (max-width: 769px) {
    .offers {
        &__wrapper {
            margin-bottom: 80px;
            padding: 0;
        }
    }
}